<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
    <form method="post" action="/posts" id="main">
        <div id="user">
            <h3>Username</h3>
            <input type="text" name="username"><br>
        </div>
        <textarea name="content" id="content" placeholder="write your content here..."></textarea><br>
        <button>Submit</button>
    </form>
</body> 
</html>