<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/show.css">
</head>

<body>
    <div id="main">
        <h1><span style="color: maroon;">@<%= viewpost.username %></span></h1>

        <div id="post">
            <h3>Post ID: <%= viewpost.id %></h3>
            <p><%= viewpost.content %></p>
        
        </div>

        <!-- <button>Add post</button> -->
        <div id="button">
            <a href="http://localhost:8080/posts"> Back </a>
        </div>
    </div>
</body>
</html>